nav
{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    font-weight: 700;
    
}


#brand
{
    
    
    background: url('./brand\ spiders.jpg');
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
    transform: translateY(50px);
    background-size: cover;
    
}


#brand.active
{
    transition: 1s;
    transform: translateY(0);
}




#iconnav
{
   list-style: none;
   display: flex;
   flex-direction: row;
   z-index: 1000;
   justify-content: end;
   
}

#iconnav li a
{
    font-style: none;
    color: white;
    margin: 15px;
    font-size: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 60px;
    overflow: hidden;
     
}


#iconnav li a span
{
    position: absolute;
    z-index: 10;
}


#iconnav li a::before
{
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   height: 100%;
   background: #00fe73;
   transition: 0.5s ease-in-out;
   border-start-start-radius: 10%;
   border-end-start-radius: 10%;
}



#iconnav li a::after
{
   position: absolute;
   content: '';
   top: 0;
   right: 0;
   height: 100%;
   background: #00fe73;
   transition: 0.5s ease-in-out;
   border-start-end-radius: 10%;
   border-end-end-radius: 10%;
}

#iconnav li a:hover:before,
#iconnav li a:hover::after
{
   width: 50%;
}


#iconnav li a:hover
{
    color: white;
}

#iconnav li a span:nth-child(1)
{
    transition-delay: 0.25s;
 
}


#iconnav li a:hover span:nth-child(1)
{
  transition: 1s;  
  transform: scale(0);
  transition-delay: 0s;
}

#iconnav li a span:nth-child(2)
{
   transform: scale(3);
   opacity: 0;
}



#iconnav li a:hover span:nth-child(2)
{
    transition: 1s;  
    transform: scale(1);
    transition-delay: 0s;
    opacity: 1;
}



#spiders
{
    position: fixed;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0; 
    z-index: 1000;
}

.spidericon
{
    width: 200px; 
    height: 200px;  
}


.spidericon:hover
{
    opacity: 1;
    transition: 1s;
    width: 300px; height: 300px;
    
}


#spiders abbr[title= 'Tobey Maguire'] .spidericon
{
    visibility: hidden;
    transform: translateX(200px);
}


#spiders abbr[title= 'Andrew Garfield'] .spidericon
{
   visibility: hidden;
   transform: translateX(-200px);
   
}

#spiders abbr[title= 'Andrew Garfield'] .spidericon.active,
#spiders abbr[title= 'Tobey Maguire']  .spidericon.active
{
    transition: 1.5s;
    visibility: visible;
    transform: translateX(0);
    
   
}

#spiders abbr[title= 'Tom Holland'] .spidericon.active
{
    transition: 1.5s;
    transform: scale(1) translateY(0);
}

#spiders abbr[title= 'Tom Holland'] .spidericon
{
    transform: scale(3) translateY(-30px);
    z-index: 1000;
}


#Andrew,
#Tobey,
#Tom
{
  display: none;   
}

#Andrew.active,
#Tobey.active,
#Tom.active
{
    position: absolute;
    top: -50px; 
    left: 0; right: 0;
    width: 100%;
    z-index: -1;
    color: aliceblue;
    margin: 0;
    display: block;
    background: url('./brand\ spiders.jpg');
    background-repeat: repeat-y;
}

#Andrew p,
#Tobey p,
#Tom p
{
    text-align: center;
    font-size: 60px;
    margin-top: 150px;

}

#Andrew h,
#Tobey h,
#Tom h
{
    text-align: justify;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 98%;
    margin: 0 10px 0 10px;
}


.img1
{
   height: 400px;
   float: right;
   shape-outside: url(./tobey1.png);
}

#tinymenu
{
    display: none;

}


@media (max-width: 520px)
{
    .spidericon
    {
        width: 100px; 
        height: 100px;  
    }
    
    
    .spidericon:hover
    {
        opacity: 1;
        transition: 1s;
        width: 200px; height: 200px;
        
    }


    #iconnav
    {
        display: none;
    }

    #iconnav.active
    {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 20%;
        left: 20%;
        transition: 0.5s;
        background: rgba(0, 0, 0, 0.166);
        justify-content: center;
        align-items: center;

    }


    #iconnav.active li a
    {
        width: 200px;
        border: 1px solid grey;
    }

    #tinymenu
    {
        display: block;
        width: 70px;
        height: 70px;
        background: grey;
        position: fixed;
        top: 10px;
        right: 10px;
    }


    #tinymenu::before
    {
        content: "";
        position: absolute;
        background: white;
        transform: translateY(10px);
        width: 70px; height: 5px;
        box-shadow: 0 25px 0 white;
    }

    
    #tinymenu::after
    {
        content: "";
        position: absolute;
        background: white;
        transform: translateY(60px);
        width: 70px; height: 5px;
        
    }
    
    
    #tinymenu.active::before
    {
        transition: 0.5s;
        transform: translateY(30px) rotate(45deg);
        box-shadow: none;
    }

    
    #tinymenu.active::after
    {
        transition: 0.5s;
        transform: translateY(30px) rotate(-45deg);
    }
}